<div class="container">
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input class="input" name="email" [formControl]="email" type="email" placeholder="e.g Alex Smith">
        </div>
    </div>
    
    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input class="input" type="password" >
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-link">Login</button>
        </div>
    </div>
</div>